# Core dependencies
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.2.2

# Visualization
plotly==5.18.0
seaborn==0.13.2
matplotlib==3.10.3

# Streamlit and its dependencies
streamlit==1.32.0
streamlit-option-menu==0.3.12
rich>=10.14.0,<14.0.0

# Machine Learning
catboost==1.2.2

# Utilities
pyyaml==6.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1 